@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes headshake {
  25% {
      // entièrement à droite
      transform: translateX(1%);
  }
  75% {
      // entièrement à gauche
      transform: translateX(1% * -1);
  }
}